.Header {
    padding: 10px 50px;
    background-color: #343434;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagesList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}

.pageLink {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px 10px;
}

.pageLink:hover {
    text-decoration: underline;
}

.logOut {
    color: white;
    text-decoration: none;
    background-color: #ff530b;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px 10px;
}

.logOut:hover {
    background-color: red;
}