.Login {
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.formError {
    margin: auto;
    width: 250px;
    border: 1px solid red;
    padding: 5px;
    color: red;
}

.formError {
    margin: 10px 0;
    width: 250px;
    border: 1px solid red;
    padding: 5px;
    color: red;
}

.input {
    border-radius: 3px;
    border: 1px solid #0CA92C;
    box-sizing: border-box; /*it goes outside without a box*/
    padding: 5px 5px 5px 10px;
    width: 300px;
    margin: 10px;
    /*height: 40px;*/
    resize: none;
    font-size: 1.3em;
    background-color: rgba(244, 248, 231, 0.91);
}

.input:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.button {
    color: #ffffff;
    border: 0;
    border-radius: 3px;
    padding: 10px 15px 10px 15px;
    background-color: rgba(12, 169, 44, 0.91);
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 1.1em;
}

.button:active {
    transition: all 0.2s ease;
    transform: scale(0.9);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}